@import './colors.less';
@import './inspector.less';
@import './panel.less';

body {
  background: #111;
  color: white;
  .monospace();
  touch-action: manipulation;
}

canvas {
  position: fixed;
  width: var(--letterbox-width);
  height: var(--letterbox-height);
  top: var(--letterbox-top);
  left: var(--letterbox-left);
}

canvas {
  z-index: 100;
}

#main {
  position: fixed;
  z-index: 200;
}

.prism-code {
  margin: 0;
  font-size: calc(0.4 * var(--su));
  padding: calc(0.2 * var(--su));
  box-sizing: border-box;
  text-shadow: 2px 2px 8px fadeout(black, 0.8);
}

.fixed-bar-0 {
  position: fixed;
  top: var(--letterbox-bars-0-top);
  left: var(--letterbox-bars-0-left);
  bottom: var(--letterbox-bars-0-bottom);
  right: var(--letterbox-bars-0-right);
  width: var(--letterbox-bars-0-width);
  height: var(--letterbox-bars-0-height);
}

.fixed-bar-1 {
  position: fixed;
  top: var(--letterbox-bars-1-top);
  left: var(--letterbox-bars-1-left);
  bottom: var(--letterbox-bars-1-bottom);
  right: var(--letterbox-bars-1-right);
  width: var(--letterbox-bars-1-width);
  height: var(--letterbox-bars-1-height);
}

.fixed-letterbox {
  position: fixed;
  top: var(--letterbox-top);
  left: var(--letterbox-left);
  bottom: var(--letterbox-bottom);
  right: var(--letterbox-right);
  width: var(--letterbox-width);
  height: var(--letterbox-height);
}

.picker {
  display: flex;
  .fixed-bar-0();

  > div {
    flex-grow: 1;
  }
}

img.hint {
  .fixed-letterbox();
  display: block;
  z-index: 100;
  pointer-events: none;
  opacity: 0.2;
}

.notes {
  .monospace();
  position: fixed;
  background: #111;
  height: var(--letterbox-bars-0-height);
  width: calc(var(--letterbox-bars-0-width) - 10vw);
  left: 5vw;
  bottom: 0;
  font-size: 12px;
  overflow: auto;
  transition: height 500ms;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  > .note {
    &.current > h1 {
      color: @blue;
    }

    > h1 {
      display: table;
      font-size: 14px;
    }
  }

  &.expanded {
    height: 100vh;
  }
}

.white {
  .fixed-letterbox();
  background: white;
  &.beat-enter {
    animation: fade-in 3s forwards;
  }
  &.beat-leave {
    animation: fade-in 300ms reverse forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    backdrop-filter: blur(0);
  }

  100% {
    opacity: 1;
    backdrop-filter: blur(20px);
  }
}

.player-next, .player-prev {
  position: absolute;
  display: block;
  height: 100%;
  width: 5vw;
  bottom: 0;
  background: fadeout(@blue, 90%);
  color: @blue;
  border: thin solid @blue;
  transition: box-shadow 500ms;

  &:active {
    background: fadeout(@blue, 50%);
    box-shadow: 5px 5px 10px fadeout(@blue, 80%);
  }

  outline: none;
  user-select: none;
  -webkit-user-select: none;
}

.player-prev {
  border-radius: 0 0 0 16px;
}

.player-next {
  right: 0;
  border-radius: 0 0 16px;
}