@import './inspector.less';
@import './panel.less';

body { background: black; color: white; }

canvas {
  position: fixed;
  width: var(--letterbox-width);
  height: var(--letterbox-height);
  top: var(--letterbox-top);
  left: var(--letterbox-left);
}

canvas {
  z-index: 100;
}

#main {
  position: fixed;
  z-index: 200;
}

.prism-code {
  margin: 0;
  font-size: calc(0.4 * var(--su));
  padding: calc(0.2 * var(--su));
  box-sizing: border-box;
  text-shadow: 2px 2px 8px fadeout(black, 0.8);
}

.picker {
  display: flex;
  position: fixed;
  top: var(--letterbox-bars-0-top);
  left: var(--letterbox-bars-0-left);
  bottom: var(--letterbox-bars-0-bottom);
  right: var(--letterbox-bars-0-right);
  width: var(--letterbox-bars-0-width);
  height: var(--letterbox-bars-0-height);

  > div {
    flex-grow: 1;
  }
}

img.hint {  
  display: block;
  z-index: 100;
  pointer-events: none;
  position: fixed;
  top: var(--letterbox-top);
  left: var(--letterbox-left);
  bottom: var(--letterbox-bottom);
  right: var(--letterbox-right);
  width: var(--letterbox-width);
  height: var(--letterbox-height);
  opacity: 0.2;
}